<ion-header>
  <ion-toolbar>
    <ion-title>Cadastro de Anuncio</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="portal-anunciante" (click)="cancelar()"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="anuncioForm" (ngSubmit)="cadAnuncio()">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Novo Anuncio</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row>

            <ion-col size="12">
              <ion-item>
                <ion-label position="floating">Titulo da Oferta:</ion-label>
                <ion-input type="text" formControlName="titulo"></ion-input>
              </ion-item>
            </ion-col>

            <ion-col size="12">
              <ion-item>
                <ion-label position="floating">Descrição:</ion-label>
                <ion-textarea formControlName="descricao"></ion-textarea>
              </ion-item>
            </ion-col>

            <ion-col size="12">
              <ion-item>
                <ion-label>Categoria</ion-label>
                <ion-select interface="popover" formControlName="categoria">
                  <ion-select-option *ngFor="let cat of categorias">{{cat}}</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>

            <ion-col size="12">
              <ion-item>
                <ion-label>Data de inicio:</ion-label>
                <ion-datetime displayFormat="DD MM YY, HH:mm" [(ngModel)]="myDate"  formControlName="dataInicial"></ion-datetime>
              </ion-item>
            </ion-col>

            <ion-col size="12">
              <ion-item>
                <ion-label>Data de fim:</ion-label>
                <ion-datetime displayFormat="DD MM YY, HH:mm" min="{{myDate}}" max="2030" placeholder="Escolha a data" formControlName="dataFinal"></ion-datetime>
              </ion-item>
            </ion-col>

            <ion-col size="12">
              <ion-button (click)="getLocation()" >Selecionar Localização</ion-button>
              <ion-button type="submit" [disabled]="!checkReadyCad()">Salvar</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid> 
      </ion-card-content>
    </ion-card>
  </form>
</ion-content>
