<ion-header>
  <ion-toolbar>
    <ion-title>Cadastro de Anuncio</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Novo Anuncio</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-item>
              <ion-label position="floating">Titulo da Oferta:</ion-label>
              <ion-input type="any"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Descrição:</ion-label>
              <ion-input type="text"></ion-input>
            </ion-item>
           
            <ion-item>
              <ion-label>Data de inicio:</ion-label>
              <ion-datetime displayFormat="DD MM YY" placeholder="Escolha a data"></ion-datetime>
            </ion-item>

            <ion-item>
              <ion-label>Data de fim:</ion-label>
              <ion-datetime displayFormat="DD MM YY" placeholder="Escolha a data"></ion-datetime>
            </ion-item>
           
            <div margin-vertical text-right>
              <ion-button fill="outline" color="danger">Cancelar</ion-button>
              <ion-button>Publicar</ion-button>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid> 
</ion-content>
