<ion-header>
  <ion-toolbar>
    <ion-title>cadastro-anunciante</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h2>Cadastro</h2>
  <form>
    <ion-list>
      <ion-item>
        <ion-input type="text" placeholder="Nome completo"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="email" placeholder="Endereço de e-mail"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" placeholder="CPF"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="password" placeholder="Senha"></ion-input>
      </ion-item>
      <ion-item>
        <button ion-button full block color="danger">Cadastrar</button>
      </ion-item>
    </ion-list>
  </form>

</ion-content>