<ion-header>
  <ion-toolbar>
    <ion-title>Portal do Anunciante</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-list>
      <ion-item *ngIf="!anuncios || anuncios.length <= 0">
          Nenhum anúncio cadastrado.
      </ion-item>
        <ion-item *ngFor="let an of anuncios">
          <ion-card>

            <ion-card-header>
              <ion-card-subtitle>{{an.categoria}}</ion-card-subtitle>
              <ion-card-title>{{an.titulo}}</ion-card-title>
            </ion-card-header>
          
            <ion-card-content>
              {{an.descricao}}
              <p></p>
              <div style="font-weight: bold;">Visto {{an.views}} vezes</div>
              <ion-toolbar>
                <ion-buttons slot="start">
                  <ion-button (click)="editar(an)">
                    <ion-icon slot="icon-only" name="create"></ion-icon>
                  </ion-button>
                </ion-buttons>
              </ion-toolbar>
            </ion-card-content>

          </ion-card>
        </ion-item>
      </ion-list>
  </div>

  <!-- <ion-button fill="outline" routerLink="/maps" routerDirection="forward">Cadastrar Anúncio</ion-button> -->
  <ion-button fill="outline" routerLink="/cad-anuncio" routerDirection="forward">Cadastrar Anúncio</ion-button>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
</ion-content>
