<ion-header>
  <ion-toolbar>
    
    <ion-title>
      CADÊ - Anúncios
    </ion-title>
  </ion-toolbar>
  
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-list>
      <ion-item *ngIf="!anuncios || anuncios.length <= 0">
          Nenhum anúncio encontrado no momento.
      </ion-item>
        <ion-item *ngFor="let an of anuncios">
          <ion-card>

            <ion-card-header>
              <ion-card-subtitle>{{an.categoria}}</ion-card-subtitle>
              <ion-card-title>{{an.titulo}}</ion-card-title>
            </ion-card-header>
          
            <ion-card-content>
              {{an.descricao}}
            </ion-card-content>

          </ion-card>
          <ion-item *ngIf="!comentarios || comentarios.length <= 0">
            Nenhum comentário. Seja o primeiro a comentar!
          </ion-item>

            <ion-card *ngFor="let co of comentarios">
            <ion-card-header>
              {{co.id}}
            </ion-card-header>
            <ion-card-content>
              {{co.comentario}}
            </ion-card-content>
            </ion-card>

            <ion-toolbar>
              <ion-input placeholder="Comente algo..." [(ngModel)]="message"></ion-input>
              <ion-buttons end>
                <button ion-button icon-right (click)="sendMessage()">
                    Enviar
                  <ion-icon name="send"></ion-icon>
                </button>
              </ion-buttons>
              </ion-toolbar>

        </ion-item>
      </ion-list>
      
  </div>

  <ion-button fill="outline" routerLink="/portal-anunciante">Portal do Anunciante</ion-button>
  <ion-button fill="outline" routerLink="/cad-perfil">Cadastrar Perfil</ion-button>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  
</ion-content>

