<ion-header>
  <ion-toolbar>
    
    <ion-title>
      CADÊ - Anúncios
    </ion-title>
  </ion-toolbar>
  
</ion-header>

<ion-content>
  <div class="ion-padding">
    Nenhum anúncio encontrado no momento.
  </div>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-button href="/cadastro">Criar perfil</ion-button>
  
</ion-content>

